<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>
<% if @sub.moderator_id == current_user.id %>
  <%= button_to "Edit Sub", edit_sub_url, method: :get %>
<% end %>

<br><ul>
  <% @sub.posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %></li> 
  <% end %>
  <% @sub.cross_posts.each do |xpost| %>
    <li><%= link_to xpost.title, post_url(xpost) %></li>
  <% end %>
</ul><br>

<form action="<%= sub_posts_url(@sub) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label> Title:
    <input type="text" name="post[title]" value="">
  </label><br>

  <label>URL:
    <input type="text" name="post[url]" value="">
  </label><br>

  <label>Content:
    <input type="text" name="post[content]" value="">
  </label><br>

  <label>Cross Post:
    <% Sub.all.each do |sub| %>
      <label><%= sub.title %>
        <input type="checkbox" name="sub[cross_posts][]" value="<%= sub.id %>">
      </label>
    <% end %>
  </label><br>

  <button>Submit Post</button>
</form>
